.question {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  .checkbox {
    min-width: 1rem;
    min-height: 1rem;
    margin-right: 2rem;
    margin-top: 1rem;
    &:hover {
      cursor: pointer;
    }
  }
  .icon{
    margin-top: 1rem;
    margin-left: .5rem;
    width: 1.5rem;
    height: 1.5rem;


    svg {
      width: 100%;
      height: auto;
      transition: .3s ease-out;
    }

    &:hover {
      cursor: pointer;

      svg {
        fill: #878787;
      }
    }
  }
}